In [46]:
import random
import numpy as np
import pandas as pd
from scipy.stats import norm

In [2]:
Bar = [83.44, 67.18, 74.76, 68.18]
PPP = [57.52, 70.62, 61.2, 97.60]
SCH = [117.54, 102.64, 112, 96.42]
Bye = [63.12, 83.32, 55.28, 59.88]
TMS = [73.6, 91.24, 80.86, 108.66]
G_T = [43.14, 62.42, 70.82, 97.56]
T_S = [81.78, 112.6, 69.82, 112.12]
DfG = [116.04, 90.38, 135.72, 91.48]
Myl = [86.48, 66.24, 101.08, 96.68]
BFG = [78.54, 114.1, 82.6, 57.34]
T_N = [117.68, 78.86, 95.86, 67.66]
TBG = [71.5, 90.66, 115.5, 105.9]

In [3]:
Teams = {"Bar":Bar, "PPP":PPP, "SCH":SCH, "Bye":Bye, "TMS":TMS,\
        "G_T":G_T, "T_S":T_S, "DfG":DfG, "Myl":Myl, "BFG":BFG,\
        "T_N":T_N, "TBG":TBG}

In [94]:
def sim(team, team_dict):
    keys = list(team_dict.keys())
    keys.remove(str(team))
    opponents = np.random.choice(keys,\
                                 size = 4, replace = False)
    wins = 0
    for i, score in enumerate(team_dict[team]):
        if team_dict[opponents[i]][i] < score:
            wins += 1
    return(wins)

In [99]:
def prop_of_reality(team):
    results = {}
    for i in range(1000000):
        results[i] = sim(team, Teams)
    SResults = pd.Series(results)
    mu = SResults.mean()
    std = SResults.std()
    p0 = norm.cdf(0, loc=mu, scale = std)
    p1 = norm.cdf(1, loc=mu, scale = std)
    p2 = norm.cdf(2, loc=mu, scale = std)
    p3 = norm.cdf(3, loc=mu, scale = std)
    return(pd.Series({"p0":p0, "p1": p1-p0, "p2": p2-p1, \
                     "p3":p3-p2, "p4":1-p3}))

In [100]:
df = pd.DataFrame()

In [101]:
for team in Teams.keys():
    df[team] = prop_of_reality(str(team))

In [102]:
df

,Bar,PPP,SCH,Bye,TMS,G_T,T_S,DfG,Myl,BFG,T_N,TBG
p0,0.051445,0.052348,0.000104,0.144621,0.001706,0.086832,0.000059,0.000255,0.007495,0.001812,0.002460,0.000374
p1,0.254051,0.348984,0.006589,0.510349,0.039686,0.467430,0.008375,0.013586,0.094771,0.070978,0.061271,0.017811
p2,0.424793,0.467885,0.101390,0.313398,0.252647,0.394545,0.167982,0.162867,0.355973,0.426626,0.342934,0.189647
p3,0.228432,0.124491,0.391822,0.031175,0.448600,0.050320,0.525995,0.458541,0.396961,0.427389,0.446917,0.471144
p4,0.041279,0.006293,0.500096,0.000457,0.257360,0.000873,0.297588,0.364750,0.144799,0.073195,0.146418,0.321024